namespace NoesisMonogame
{
    public class NoesisLicense : UI.Noesis.INoesisLicense
    {
        public string Name => new string("<your name>");
        public string Key => new string("<your license key>");
    }
}